################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.suo
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/


[Pp]ackages/
![Pp]ackages/repositories.config
*.vspscc
*.user
*.vssscc
*.dbmdl
*.pubxml
*.Publish.xml
*.pyc
*.coverage
/Apps/Stimulation/UpgradeLog.htm
/WarriorLink
